
    <div class="main">
      <div class="container">
        <div class="heading">
          <h2>PROFILE</h2>
        </div>

        <div class="user">
           <%= image_tag @user.gravatar_url, :class => "avatar" %>
          <div class="user-info">
            <h3><span>Username:</span> <%= @user.username %></h3> 
            <h3><span>E-Mail:</span> <%= @user.email %></h3>
            <h3><span>Birthday:</span> <%= @user.birthday %></h3>
            <div>
              <%= link_to current_user, :class => "user-buttons", method: :delete, data: { confirm: 'Are you sure?' } do %>
                Delete
              <% end %> 
            </div>
          </div>




          <div class="content">
            <% @user.posts.each do |post| %>
              <div class="reverse-post">
                <div class="posts">
                  <div class="post">
                    <%= image_tag @user.gravatar_url, :class => "mini-avatar" %>
                    <span>
                    <%= @user.username %> on <strong><%= link_to  "#{post.game.name}", game_path(post.game_id), :class => "game-link" %><strong>
                    </span>
                    <span>
                      <b><%= @markdown.render(post.title).html_safe() %></b>
                    </span>
                    <br>
                    <div>
                      <%= @markdown.render(post.content).html_safe() %> 
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      

    </div>

