  <div class="main">

    <%= video_tag("final_5b09881a304cef0014d7ba44.mp4", height: '500', width: '100%', autoplay: :autoplay,loop: :loop,) %>

    <br>
    <div class="container">
      <h1>WELCOME GAMERS</h1>
      <div class="highlighted">
        <%= image_tag 'character-classic-colorful-163114.jpg', :class => "img-1" %>
        <%= image_tag 'business-computer-connection-929824.jpg', :class => "img-2" %>
        <%= image_tag 'action-blur-close-up-735911.jpg', :class => "img-row1" %>
        <%= image_tag 'adult-competition-computers-929831.jpg', :class => "img-row2" %>
        <%= image_tag 'clouds-female-game-123335.jpg', :class => "img-row3" %>
      </div>
      <div class="content">
        <div class="title center">Top Articles</div><br>
        <% 5.times do %>
          <div>
            <span class="title">Article Title</span><br>
            <span class="author">Article Author</span><br>
            <span class="description">Article Description - Lorem ipsum dolor sit amet, ea cum reque assueverit eloquentiam. Dicant adipisci definitionem te vel. An duo iudico erroribus. His ferri quaeque no, ea nam iusto disputando appellantur, id has duis moderatius.</span>
          </div><br>
        <% end %>
      </div>

      <div class="side-bar">
        <div class="center title">Game Reviews</div>
        
        <div class="row">
          <div class="gallery game-rev">
            <img src="http://via.placeholder.com/125x125">
            <div class="desc">
              Game Title <br>
              Score/50
            </div>
          </div>

          <div class="gallery game-rev">
            <img src="http://via.placeholder.com/125x125">
            <div class="desc"> 
              Game Title<br> 
              Score/50
            </div>
          </div>
        </div>

        <div class="row">
          <div class="gallery game-rev">
            <img src="http://via.placeholder.com/125x125">
            <div class="desc"> 
              Game Title<br> 
              Score/50
            </div>
          </div>

          <div class="gallery game-rev">
            <img src="http://via.placeholder.com/125x125">
            <div class="desc"> 
              Game Title<br> 
              Score/50
              </div>
          </div>
        </div>

        <div class="row">
          <div class="gallery game-rev">
            <img src="http://via.placeholder.com/125x125">
            <div class="desc"> 
              Game Title<br> 
              Score/50
            </div>
          </div>

          <div class="gallery game-rev">
            <img src="http://via.placeholder.com/125x125">
            <div class="desc">
              Game Title<br> 
              Score/50
            </div>
          </div>
        </div>

        </div>
      </div>
    </div>
  </div>
  <footer id="wrapper">

    <div class="column one">
      © EXP-ATK
    </div> 

    <!-- <div class="blank">

    </div> -->

    <div class="column two">
      <ul>
        <li>LINK</li>
        <li>LINK</li>
        <li>LINK</li>
        <li>LINK</li>
        <li>LINK</li>
      </ul>
    </div>

    <div class="column three">
      <ul>
        <li>LINK</li>
        <li>LINK</li>
        <li>LINK</li>
        <li>LINK</li>
        <li>LINK</li>
      </ul>
    </div>

  </footer>