<div class="main">
<div class="container">
  <!-- <h1>GAMES</h1> -->

  <% if @game != nil %>
    <h2 class="head"> <%= @game.name %> </h1>
    <div>
      <img src= <%= @game.box_art_url.gsub("-{width}x{height}","") %> class="main-img">
    </div>

    <div class="content">
    <div class="posts">
      <div class="post">

        <%= form_with model: @post, local: true do |form| %>
        <%= form.text_field :user_id, placeholder: current_user.id %> <br/>
        <%= form.text_field :game_id, placeholder: @game.id %> <br/>
          <%= form.text_field :title, placeholder: "title", :class => "post-title" %><br />
          <%= form.text_area :content, placeholder: "content", :class => "post-content" %>
<<<<<<< HEAD
=======

>>>>>>> 87c0d8d274b343ee325a1d09942b38c9332bfbb5
          <small><em>Powered by Markdown</em></small> <br>
          <%= form.submit "Post", :class => "submit" %>
        <% end %>
      </div>
    </div>
    <div class="reverse-post">
    <% @posts.each do |post| %>
      <div class="user-posts">
        <div class="user-post">
          <img class="mini-avatar" src="http://via.placeholder.com/50x50">
          <span><b><%= post.title %></b></span><br>
          <span><em><%= User.find(post.user_id).username %></em></span>
          <p><%= post.created_at %></p>
          <p><%= post.content %></p>
        </div>
      </div>
    <% end %>
  </div>

    <details>
      <summary >Show More</summary>
      <p>coming soon<p>
    </details>


  </div>
</div>
</div>
  <% end %>
<!--
  <div>
    <img src="http://via.placeholder.com/250x250" class="mini-img">
  </div>
  <div>
    <img src="http://via.placeholder.com/250x250" class="mini-img">
  </div>
  <div>
    <img src="http://via.placeholder.com/250x250" class="mini-img">
  </div>
  <div>
    <img src="http://via.placeholder.com/250x250" class="mini-img">
  </div>
  -->



  <footer id="wrapper">

    <div class="column one">
      © EXP-ATK
    </div>

    <!-- <div class="blank">

    </div> -->

    <div class="column two">
      <ul>
        <li>LINK</li>
        <li>LINK</li>
        <li>LINK</li>
        <li>LINK</li>
        <li>LINK</li>
      </ul>
    </div>

    <div class="column three">
      <ul>
        <li>LINK</li>
        <li>LINK</li>
        <li>LINK</li>
        <li>LINK</li>
        <li>LINK</li>
      </ul>
    </div>

  </footer>
