<div class="main">
<div class="container">
  <!-- <h1>GAMES</h1> -->

  <% if @game != nil %>
    <h2 class="head"> <%= @game.name %> </h1>
    <div>
      <img src= <%= @game.box_art_url.gsub("-{width}x{height}","") %> class="main-img">
    </div>

    <div class="content">
      <div class="posts">
        <div class="post">

          <%= form_with model: @post, local: true do |form| %>
          <%= form.hidden_field :user_id, :value => current_user.id %>
          <%= form.hidden_field :game_id, :value => @game.id %>
            <%= form.text_field :title, placeholder: "title", :class => "post-title" %><br />
            <%= form.text_area :content, placeholder: "content", :class => "post-content" %><br/>
            <br><small><em>Powered by Markdown</em></small> <br>
            <%= form.submit "Post", :class => "submit" %>
          <% end %>
        </div>
      </div>
      <div class="reverse-post">
        <% if @posts.count == 0 %>
        <p>There are no posts! Be the first to create a post about this game...</p>
        <% elsif @posts.count != 0 %>

      <% @posts.each do |post| %>
      
        <div class="user-posts">
          <div class="user-post">
            <%= image_tag User.find(post.user_id).gravatar_url, :class => "mini-avatar" %>
            <span><em><%= User.find(post.user_id).username %></em></span><br/>
            <span><b><%= post.title %></b></span><br>
            <!-- <p><%= post.created_at %></p> -->
            <p><%= @markdown.render(post.content).html_safe() %></p>
          </div>
          
          <div class="post">
            <%= form_with model: @comment, local: true do |form| %>
            <%= form.hidden_field :user_id, :value => current_user.id %>
            <%= form.hidden_field :post_id, :value => post.id %>
            <%= form.text_area :content, placeholder: "add a comment...", :class => "post-content" %><br/>
            <small><em>Powered by Markdown</em></small> <br>
            <%= form.submit "Comment", :class => "submit" %>
          
          
        <% end %>

        <details>
          <summary >Comments</summary>
          <div class="reverse-post">
          <% post.comments.each do |comment| %>
            <div class="">
              <div class="posts">
                <div class="post">
                  
                  <%= image_tag User.find(comment.user_id).gravatar_url, :class => "mini-avatar" %>
                  <span><em><%= User.find(comment.user_id).username %></em></span>
                  <p><%= @markdown.render(comment.content).html_safe() %></p>
                  </div>
                  
                </div>
              </div>
            <% end %>
          </div>


          </div>
        </details>
    
    </div>
    <% end %>

  </div>
  <% end %>

    


  </div>
</div>
</div>
  <% end %>
<!--
  <div>
    <img src="http://via.placeholder.com/250x250" class="mini-img">
  </div>
  <div>
    <img src="http://via.placeholder.com/250x250" class="mini-img">
  </div>
  <div>
    <img src="http://via.placeholder.com/250x250" class="mini-img">
  </div>
  <div>
    <img src="http://via.placeholder.com/250x250" class="mini-img">
  </div>
  -->
