<h1>Posts#edit</h1>
<p>Find me in app/views/posts/edit.html.erb</p>

<%= form_with model: @post, local: true do |form| %>
    <%= form.text_field :title, placeholder: "title" %><br />
    <%= form.hidden_field :user_id, :value => current_user.id %><br />
    <%= form.text_area :content, placeholder: "content" %>
    <%= form.submit %>
<% end %>