<h1>Posts#index</h1>
<p>Find me in app/views/posts/index.html.erb</p>

<% @posts.each do |post| %>
    <li>
        <strong><%= post.title %></strong><br />
        <em><%= User.find(post.user_id).username %></em><br />
        <%= @markdown.render(post.content).html_safe() %><br />

        <%= link_to "Edit", edit_post_path(post.id) %>
        <%= link_to "Show", post_path(post.id) %>
        <%= link_to "Delete", post_path(post.id), method: :delete %>
    <li>
<% end %>
